<html>
  <head>
    <title>Reign Sign In</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Gudea|Unica+One' rel='stylesheet' type='text/css'>
    <script src='/scripts/adminApp.js'></script>
  </head>
  <body>
    <header>
      <p id="headline"><strong>Reign Manager Options</strong></p>
    </header>
      <div id = "log_in">

        <h2 id="new_food_h2"><strong>Add a New Food Item</strong></h2>

        <form action="/sessions" method='post' id="new_food">
          <input type="text" name="name" placeholder='--food name--'>
          <br>
          <input type="text" name="cost" placeholder='--food price--'>
          <br>
          <input type="text" name="cuisine" placeholder='--food category--'>
          <br>
          <input type="hidden" name='_method' value='delete'>
          <input type="submit" value='submit'>
        </form>
      </div>

      <footer>
        <ul>
          <li>Help</li>
          <li><a href="/">POS Main</a></li>
        </ul>
      </footer>


    <!-- ****** JS Libraries ****** -->
    <script src='/scripts/lib/jquery.js'></script>
    <script src='/scripts/lib/underscore.js'></script>
    <script src='/scripts/lib/backbone.js'></script>

    <!-- ****** Backbone Models ****** -->
    <script src='/scripts/models/FoodModel.js'></script>

    <!-- ****** Backbone Collection ****** -->
    <script src='/scripts/collections/FoodCollection.js'></script>

    <!-- ****** Application ****** -->
    <script src='/scripts/adminApp.js'></script>

  </body>
</html>
