<html>
  <head>
    <title>Reign Not Authenticated!</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Gudea|Unica+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <p id="headline"><strong>Reign - Manager Log In</strong></p>
    </header>


      <div id="log_in">
        <form action="/sessions" method="post">
          <input type="text" name="username" placeholder='--username--'>
          <br>
          <input type="text" name="password" placeholder='--password--'>
          <br>
          <input type="submit" value="Log-In">
        </form>
      </div>

    <footer>
      <ul>
        <li>Help</li>
        <li><a href="/">Non-Manager Screen</a></li>
      </ul>
    </footer>

  </body>
</html>
