<html>
  <head>
    <title>T2 POS System</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <header>
    </header>
        <table id="buttons">
        </table>

        <div id ="register">
        </div>

        <footer>
        </footer>


  </body>
</html>
