<html>
  <head>
    <title>Reign</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">


    <link href='http://fonts.googleapis.com/css?family=Gudea|Unica+One' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <script src='/scripts/lib/jquery.js'></script>
    <script src='/scripts/lib/underscore.js'></script>
    <script src='/scripts/lib/backbone.js'></script>

    <script src='/scripts/models/FoodModel.js'></script>
    <script src='/scripts/models/PartyModel.js'></script>

    <script src='/scripts/collections/FoodCollection.js'></script>
    <script src='/scripts/collections/PartyCollection.js'></script>

    <script src='/scripts/views/FoodView.js'></script>
    <script src='/scripts/views/PartyView.js'></script>
    <script src='/scripts/views/GeneralListView.js'></script>

    <script src='/scripts/app.js'></script>

    <header>
      <p id="headline"><strong>Reign</strong></p>
    </header>

        <div id='button_div'>

        </div>


        <div class="register">
          <p id ="register_display">Orders
        </div>

        <footer>
          <ul>
            <li>Help</li>
            <li><a href="/admin">Manager Log-In</a></li>
          </ul>
        </footer>


  </body>
</html>
