<html>
  <head>
    <title>T2 POS System</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <p id="headline">Material POS</p>
    </header>
        <table id="buttons">
        </table>

        <div class="register">
          <p id ="register_display">Register</p>
        </div>

        <footer>
          <ul>
            <li>Help</li>
            <li>Sign out</li>
          </ul>
        </footer>


  </body>
</html>
