<html>
  <head>
    <title>Reign</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">


    <link href='http://fonts.googleapis.com/css?family=Gudea|Unica+One' rel='stylesheet' type='text/css'>

  </head>

  <body>



    <header>
      <p id="headline"><strong>Reign</strong></p>
    </header>
          <div id='food_div'>



          </div>


        <div class="register" style="overflow:auto;">
          <h1>Orders<h1>

            <div id="orders_font">
              <div id='party_div'>


              </div>
            </div>
            <button type="submit" id="place-order">Submit Order</button>


        </div>

        <footer>
          <ul>
            <li>Help</li>
            <li><a href="/admin">Manager Log-In</a></li>
          </ul>
        </footer>

        <script src='/scripts/lib/jquery.js'></script>
        <script src='/scripts/lib/underscore.js'></script>
        <script src='/scripts/lib/backbone.js'></script>

        <script src='/scripts/models/FoodModel.js'></script>
        <script src='/scripts/models/PartyModel.js'></script>

        <script src='/scripts/collections/FoodCollection.js'></script>
        <script src='/scripts/collections/PartyCollection.js'></script>

        <script src='/scripts/views/FoodView.js'></script>
        <script src='/scripts/views/PartyView.js'></script>
        <script src='/scripts/views/GeneralListView.js'></script>

        <script src='/scripts/app.js'></script>
        <script>
          $(document).ready(function(){
            $('#food_div').fadeIn(2000);
            $('.register').slideDown(2000);
          });
        </script>
  </body>
</html>
