<html>

  <head>
    <title>Reign</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link href='https://fonts.googleapis.com/css?family=Gudea|Unica+One' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <header>
      <p id="headline"><strong>Reign</strong></p>
    </header>

    <div id="food_container">
      <div id='food_div'>
      </div>
    </div>

    <div id="register">
      <h1>Table Orders<h1>

      <div id='party_div'>
      </div>

      <button type="submit" id="place-order">Submit Order</button>

    </div>

    <footer>

      <ul>
        <li class="footer_menu">Help</li>
        <li class="footer_menu"><a href="/admin">Manager Log-In</a></li>
      </ul>

    </footer>

        <script src='/scripts/lib/jquery.js'></script>
        <script src='/scripts/lib/underscore.js'></script>
        <script src='/scripts/lib/backbone.js'></script>

        <script src='/scripts/models/FoodModel.js'></script>
        <script src='/scripts/models/PartyModel.js'></script>

        <script src='/scripts/collections/FoodCollection.js'></script>
        <script src='/scripts/collections/PartyCollection.js'></script>

        <script src='/scripts/views/FoodView.js'></script>
        <script src='/scripts/views/PartyView.js'></script>
        <script src='/scripts/views/GeneralListView.js'></script>

        <script src='/scripts/app.js'></script>

  </body>

</html>
