<html>
  <head>
    <title>Chez Quis</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <p id="headline">Chez Quis</p>
    </header>
      <div id='button_display'>
        <div class = "buttons"><button type="button">Food1</button></div>
        <div class = "buttons"><button type="button">Food2</button></div>
        <div class = "buttons"><button type="button">Food3</button></div>
        <div class = "buttons"><button type="button">Food4</button></div>
      </div>

        <div class="register">
          <p id ="register_display">Register</p>
        </div>

        <footer>
          <ul>
            <li>Help</li>
            <li>Sign out</li>
          </ul>
        </footer>


  </body>
</html>
